* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
}
.container {
    width: 100%;
    display: block;
}
header {
    display: flex;
    position: fixed;
    width: 100%; 
    background-color: #0d97a6;
    border-radius: 5px;
    border-bottom: 1px solid white;
}
#logo img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
#logo {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h1 {
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 15px;
}
h1 a {
    text-decoration: none;
    color: white;
}
h1 a:hover {
    color: rgb(227, 223, 245);
}
.menus {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.menu  {
    width: 100%;
    margin-top: 23px;
    margin-left: auto;
    max-width: 500px;    
}
.container li {
    display: inline;
    list-style: none;
}
ul a{
    color: white;
    text-decoration: none;
    padding: 8px;
}
ul a:hover {
    color: rgb(227, 223, 245);
}
.menu-mobile {
    width: 100%;
    height: 60px;
    display: none;
}
.menu-mobile li {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.menu-mobile ul{
    list-style: none;
    width: 100%;
    height: 260px;
    background-color: #0d97a6;
    position: fixed;
    top: 65px;
    left: -2000px;
    transition: .5s;
}
.menu-mobile li a{
    text-decoration: none;
    color: white;
    font-family: arial;
}
#carrosel .galery{
    width: 500%;
    margin-top: 70px;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#carrosel .galery img{
    width: 20%;
}
#carrosel {
    width: 99.8%;
    overflow: hidden;
    margin-left: 2px;
}
#carrosel-mobile .galery-mobile {
    display: none;
    width: 500%;
    margin-top: 65px;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#carrosel-mobile .galey img {
    width: 100vw;
    height: 300px;
}
#carrosel-mobile {
    width: 100%;
    overflow: hidden;
    margin-left: 5px;
}
#cards{
    display:flex;
    margin-top: -60px;
    justify-content: center;
    position: static;
    gap: 20px;
}
#cards img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
    transition: all 0.5s;
    cursor: pointer;
}
#cards img:hover {
   height: 360px;
    width: 360px;
}
.container-quem-somos {
    display: flex;
    justify-content: center;
    width: 90%;
    position: static;
    margin: auto;
    margin-top: 20px;
    align-items: center;
}
#quem-somos h2 {
    width: 20%;
    font-size: 32px;
    color: #0d97a6;
    display: flex;
}
#quem-somos p {
    width: 50%;
    display: flex;
    margin-right: 10px;
}
#quem-somos img {
    height: 150px;
    width: 300px;
    border-radius: 5%; 
    display: flex;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
.container-projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    position: static;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    gap: 30px;
}
#projetos h2 {
    font-size: 30px;
    color:#0d97a6;
    display: flex;
}
#projetos p {
    width: 50%;
    display: flex;
}
#projetos img{
    width: 1200px;
    height: 300px;
    display: flex;
    transition: all 0.5s;
    cursor: pointer;
}
#projetos img:hover {
    width: 1320px;
    height: 330px;
}
#projetos #projeto-mobile img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transition: all 0.5s;
    cursor: pointer;
    display: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
#projetos #projeto-mobile img:hover {
    width: 350px;
    height: 350px;
}
#produtos {
    font-size: 32px;
    text-align: center;
    color: #0d97a6;
    margin-top: 5%;
}
.container-produtos {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banners {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;   
}
.banners img {
    border-radius: 10%;
    width: 300px;
    height: 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
    transition: all 0.5s;
    cursor: pointer;
}
.banners img:hover {
    height: 360px;
    width: 360px;
}
.banners h3 {
    text-align: center;
    color: #0d97a6;
    margin-top: 10px;
}
footer {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    border-radius: 1.5%;
    background-color: #0d97a6;
}
.box {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 400px;
    height: 210px;
}
.form {
    width: 400px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}
legend {
    border: 1px solid white;
    width: 70%;
    margin-left: 50px;
    margin-top: -15px;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    font-size: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    background-color: #0d97a6;
}
.inputBox {
   position: relative;
   height: 15px;
}
.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
}
.labelInput {
    position: absolute;
    top: 0px;
    left: 10px;
    pointer-events: none;
    transition: 1s;
}
.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -10px;
    font-size: 12px;
    color: rgb(105, 93, 93);
}
#submit {
    background-color: #0d97a6;
    width: 100%;
    padding: 3px;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
#submit:hover {
    background-color: #3db5c2;
}
.midias-sociais{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    gap: 20px;
    color: white;
}
.midias-sociais img{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
    transition: all 0.5s;
 }
 .midias-sociais img:hover {
     -webkit-transform: scale(1.1);
     transform: scale(1.3);
 }
 .info  {
    width: 100%;
    color: white;
    text-align: center;
    margin-left: 30px;
}
#logo-footer{
    width:100px;
    height: 50px;
    border-radius: 100%;
    margin-left: 100px;
    margin-right: -100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
.copy {
    width: 60%;
    color: black;
    font-size: 15px;
    margin-left: 40%;
    margin-top: -30px;
} 
.copy a {
    color: black;
}   
.container-contato {
    width: 500px;
    height: 80px;
    padding: 10px;
    border: 3px solid #0d97a6;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: flex;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    flex-direction: column;
    text-align: center;   
}
.container-contato a {
    color: black;
    font-size: 15px;
    margin-top: 15px;
}
#conhecer {
    width: 80%;
    text-decoration: none;
    color: white;
    background-color: #3db5c2;
    border-radius: 10px;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
#conhecer:hover {
    color: #3db5c2;
    background-color: white;
}

@media (max-width:768px){
    .menu{
        display: none;
    }
    .menu-mobile ul {
        display: block;
        position: fixed;
    }
    .menu-mobile ul a{
        text-align: center;
        display: block;        
    }    
    .menu-mobile{
        display: block;
        position: fixed;
        top: 5px;
    }
    label{
        color: white;
        font-size: 50px;
        position: fixed;
        right: 20px;
        margin-right: auto;
        cursor: pointer;
    } 
    input{
        display: none;
    } 
    #check:checked ~ ul{
        left: 1px;
        transition: .5s;
    } 
    #carrosel {
        display: none;
    }
    #carrosel-mobile .galery-mobile {
        display: block;
    }
    #carrosel-mobile img {
        width: 100vw;
        height: 300px;
    }
    #cards img {
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }
    #cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        position: static;
        margin-top: 10px;
        margin: auto;
    }
    .container-quem-somos {
       flex-direction: column;
        }
    #quem-somos img {
        width: 100%;
    }
    #quem-somos h2 {
        width: 62%;
        align-items: center;
    }
    #quem-somos p {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .container-projetos {
        flex-direction: column;
    }
    #projetos #projeto-web img {
        display: none;
    }
    #projetos #projeto-mobile img {
        display: block;
        margin-top: -40px;
    }
    #projetos h2 {
        font-size: 30px;
        text-align: center;
    }
    .banners {
        gap: 30px;
    }
    footer {
        height: 170px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;        
    }  
    .box {
        display: none;
    } 
    .info {
        font-size: 10px;
        margin-top: 10px;
    }
    #logo-footer{
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }
    .midias-sociais{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }
    .midias-sociais  p{
        width: 200px;
        font-size: 12px;
        border-right: 3px solid white;
        padding-right: 20px;       
    }  
    .midias-sociais img {
        width: 30px;
        height: 30px;
    }  
    .copy {
        width: 100%;
        font-size: 10px;
        margin-top: -25px;
        margin-left: 0px;
        text-align: center;
    }
    .container-contato {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }
}

